@{
    ViewData["Title"] = "Inicio";
}



<div class="text-left">
    <h1 class="text-primary">Bienvenido al sitio web de GM Ingenieros</h1>

    <button class="btn btn-warning
">
        @Html.ActionLink("Ir al listado de Comprobantes", "IndexComprobantes", "Comprobantes", null, new { @class = "text-black" })

    </button>

    
</div>
